<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/styles.css}">
</head>
<body>
    <div th:fragment="navbar">
        <div class="navbar-search">
            <input 
                type="text" 
                class="search-input" 
                placeholder="Buscar productos..."
            />
            <button class="search-btn">
                🔍
            </button>
        </div>

        <nav class="navbar">
            
            <ul class="navbar1">
                <li><a href="/">Categorias</a></li>
                <li><a href="/about">Ofertas</a></li>
                <li><a href="/contact">Supermercado</a></li>
                <li><a href="/services">Moda</a></li>
            </ul>
            <ul class="navbar2">
                <li><a href="/creacuenta">Crea tu cuenta</a></li>
                <li><a href="/login">Ingresa</a></li>
                <li><a href="/carrito">Mis compras</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>